[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "alphaci"]
	path = alphaci
	url = https://github.com/jonasmoss/alphaci
[submodule "attenuation"]
	path = attenuation
	url = https://github.com/jonasmoss/attenuation
[submodule "conogive"]
	path = conogive
	url = https://github.com/jonasmoss/conogive
[submodule "kdensity"]
	path = kdensity
	url = https://github.com/jonasmoss/kdensity
[submodule "nakagami"]
	path = nakagami
	url = https://github.com/jonasmoss/nakagami
[submodule "publipha"]
	path = publipha
	url = https://github.com/jonasmoss/publipha
[submodule "subformula"]
	path = subformula
	url = https://github.com/jonasmoss/subformula
[submodule "univariateML"]
	path = univariateML
	url = https://github.com/jonasmoss/univariateml
